<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <dict>
        <key>type</key><string>water</string>
        <key>iconName</key><string>drop.fill</string>
        <key>labels</key>
        <dict>
            <key>en</key><string>Water</string>
            <key>es</key><string>Agua</string>
            <key>fr</key><string>Eau</string>
            <key>de</key><string>Wasser</string>
        </dict>
    </dict>
    <dict>
        <key>type</key><string>restroom</string>
        <key>iconName</key><string>figure.walk</string>
        <key>labels</key>
        <dict>
            <key>en</key><string>Restroom</string>
            <key>es</key><string>Baño</string>
            <key>fr</key><string>Toilettes</string>
            <key>de</key><string>Toilette</string>
        </dict>
    </dict>
    <dict>
        <key>type</key><string>reposition</string>
        <key>iconName</key><string>bed.double.fill</string>
        <key>labels</key>
        <dict>
            <key>en</key><string>Reposition</string>
            <key>es</key><string>Reposición</string>
            <key>fr</key><string>Repositionner</string>
            <key>de</key><string>Umlagern</string>
        </dict>
    </dict>
    <dict>
        <key>type</key><string>pain</string>
        <key>iconName</key><string>heart.fill</string>
        <key>labels</key>
        <dict>
            <key>en</key><string>Pain</string>
            <key>es</key><string>Dolor</string>
            <key>fr</key><string>Douleur</string>
            <key>de</key><string>Schmerz</string>
        </dict>
    </dict>
    <dict>
        <key>type</key><string>general</string>
        <key>iconName</key><string>questionmark.circle.fill</string>
        <key>labels</key>
        <dict>
            <key>en</key><string>General Help</string>
            <key>es</key><string>Ayuda General</string>
            <key>fr</key><string>Aide Générale</string>
            <key>de</key><string>Allgemeine Hilfe</string>
        </dict>
    </dict>
</array>
</plist>
</plist>
